 @import "../src/components/admin/css/admin-style.css";
@import "../src/assets/css/bootstrap.css"; 
@import "../src/assets/css/animate.min.css";
@import "../src/assets/css/font-awesome.min.css";
@import "../src/assets/css/jquery-ui.css";
@import "../src/assets/css/style.css"; 




/* @tailwind base;
@tailwind components;
@tailwind utilities; */
